/* 全局 CSS 变量 */
@import url("./variables.css");

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--mobvue-body-text-color);
  background-color: var(--mobvue-body-bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family:
    Inter, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
  /* 禁止 iOS 和 macOS 系统默认的橡皮筋效果 */
  overflow: hidden;
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}
