// 清除浮动
%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// 文本溢出时显示省略号
%ellipsis {
  // 隐藏溢出的文本
  overflow: hidden;
  // 防止文本换行
  white-space: nowrap;
  // 文本内容溢出容器时，文本末尾显示省略号
  text-overflow: ellipsis;
}
