/* 全局 CSS 变量，这种变量不仅可以在 CSS 中使用，还可以导入到 JS 中使用 */

/* Light Mode */
:root {
  /* Body Colors */
  --mobvue-body-text-color: #323233;
  --mobvue-body-bg-color: #f7f8fa;
  /* Component Colors */
  --mobvue-primary-color: #1989fa;
  --mobvue-bg-color: #ffffff;
}

/* Dark Mode */
html.dark {
  /* Body Colors */
  --mobvue-body-text-color: #f5f5f5;
  --mobvue-body-bg-color: #000000;
  /* Component Colors */
  --mobvue-primary-color: #1989fa;
  --mobvue-bg-color: #1c1c1e;
}
